<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                        http://www.springframework.org/schema/tx
                        http://www.springframework.org/schema/tx/spring-tx.xsd
                        http://www.springframework.org/schema/context
			            http://www.springframework.org/schema/context/spring-context-3.1.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">

	<bean id="dataSource" class="com.jolbox.bonecp.BoneCPDataSource"
		destroy-method="close">
		<property name="driverClass" value="${database.driverClass}" />
		<property name="jdbcUrl" value="${database.jdbcUrl}" />
		<property name="username" value="${database.username}" />
		<property name="password" value="${database.password}" />
		<property name="idleConnectionTestPeriodInMinutes"
			value="${database.idleConnectionTestPeriodInMinutes}" />
		<property name="idleMaxAgeInMinutes" value="${database.idleMaxAgeInMinutes}" />
		<property name="maxConnectionsPerPartition" value="${database.maxConnectionsPerPartition}" />
		<property name="minConnectionsPerPartition" value="${database.minConnectionsPerPartition}" />
		<property name="partitionCount" value="${database.partitionCount}" />
		<property name="acquireIncrement" value="${database.acquireIncrement}" />
		<property name="statementsCacheSize" value="${database.statementsCacheSize}" />
	</bean>
	
	<bean id="log4jdbcInterceptor" class="net.sf.log4jdbc.DataSourceSpyInterceptor" />  
    <bean id="dataSourceLog4jdbcAutoProxyCreator" class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">  
       <property name="interceptorNames">  
           <list>  
              <value>log4jdbcInterceptor</value>  
           </list>  
       </property>  
       <property name="beanNames">  
           <list>  
              <value>dataSource</value>  
           </list>  
       </property>  
    </bean>  

	<bean id="jdbcTemplate"
		class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
		<constructor-arg ref="dataSource" />
	</bean>

	<!-- enable the configuration of transactional behavior based on annotations -->
	<tx:annotation-driven transaction-manager="transactionManager" /><!-- 
		a PlatformTransactionManager is still required -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>


	<!-- 配置SqlSessionFactoryBean -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<!-- mapper和resultmap配置路径 -->
		<property name="mapperLocations">
			<list>
				<!-- 表示在classpath:resources/sql包或以下所有目录中，以Mapper.xml结尾所有文件 -->
				<value>classpath*:sql/*Mapper.xml</value>
			</list>
		</property>
	</bean>

	<!-- 配置Mybatis模版 -->
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate"
		scope="prototype">
		<constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>

</beans>
